{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Client</title>
</head>

<body>
    {% if request.is_authenticated %}
    <section>
        <h2>Get</h2>
        <button>Get</button>
    </section>
    
    <section>
        <h2>Post</h2>
        <form  action="{% url 'get_list_create_product' %}" method='post'>
            <label for="title">Title</label>
            <input id='title' name='title' type="text">

            <label for="content">Content</label>
            <textarea name="content" id="content" cols="30" rows="10"></textarea>

            <label for="price">Price</label>
            <input type="numeric" name='price' id='price'>

            <button>Post</button>
        </form>
    </section>

    <section>
        <h2>Put</h2>
        <form action="{% url 'get_list_create_product' %}">
            <label for="title">Title</label>
            <input id='title' name='title' type="text">

            <label for="content">Content</label>
            <textarea name="content" id="content" cols="30" rows="10"></textarea>

            <label for="price">Price</label>
            <input type="numeric" name='price' id='price'>

            <button>Put</button>
        </form>
        
    </section>

    <section>
        <h2>Delete</h2>
        <form action="{% url 'get_list_create_product' %}">
            <label for="title">Product id</label>

            <input type="numeric" name='pk' id='pk'>
            <button>Delete</button>
        </form>
        
    </section>


        




    {% else %}
    <h2>You need to Login</h2>
    <form id='login-form' action="{% url 'browser_login' %}" method='post'>
        {% csrf_token %}
        <label for="username">Username</label>
        <input type="text" name='username' id='username'>

        <label for="password">Password</label>
        <input type="password" name='password' id='password'>
        
        <button>Login</button>
    </form>
    
    {% endif %}
    <script src="{% static 'product/actions.js' %}"></script>

</body>
</html>